/* FlightPage.css */

/* Main container for flight cards */
.flight-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.flight-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flexbox;
  flex-direction: column;
  gap: 10px;
}

.flight-meta {
  font-size: 15px;
  color: #555;
}

.flight-times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight-block {
  font-size: 20px;
}

.flight-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.flight-path {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.path-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.line {
  height: 2px;
  background-color: #ccc;
  width: 50%;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.plane-icon {
  font-size: 24px;
  position: absolute;
  z-index: 2;
}

.duration {
  position: absolute;
  top: -30px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  z-index: 3;
}

.flight-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-block {
  font-size: 16px;
  font-weight: bold;
}

.book-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.book-button:hover {
  background-color: #0056b3;
}
